/* TEMPLATE-LIKE DECLARATIONS */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

/* GENERAL */

header,
.info,
.quote,
.call,
footer {
    padding: 0 150px;
}

/* HEADER: DONE */

header {
    background: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    gap: 16px;
    margin: 64px 0;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.hero p {
    margin: 0;
}

.hl {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.figure {
    background: #63686e;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-top {
    background: #3882F6;
    align-self: flex-start;
    padding: 8px 32px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 800;
    border: none;
}

/* HEADER-NAV: DONE */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 24px;
    color: #E5E7EB;
}

nav ul:hover {
    color: #F9FAF8;
    cursor: pointer;
}

/* INFO: DONE */

.info {
    padding: 64px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 0;
}

.image {
    border: 3px solid #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.caption {
    margin: 0 24px;
    text-align: center;
}

/* QUOTE: DONE */

.quote {
    background: #E5E7EB;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    gap: 16px;
}

.text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.author {
    font-weight: 800;
    margin: 0;
    align-self: flex-end;
}

/* CALL TO ACTION: DONE */

.call {
    background: #3882F6;
    margin: 75px 150px;
    border-radius: 8px;
    display: flex;
    padding: 32px 64px;
    justify-content: space-between;
    align-items: center;
}

.cl {
    color: #F9FAF8;
    margin: 0;
}

.cl h3 {
    font-size: 24px;
    margin: 0;
}

.cl p {
    font-weight: 200;
    margin: 0;
}

.button-bottom {
    background: #3882F6;
    align-self: flex-start;
    padding: 8px 32px;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: 800;
    border: 2px solid white;
    align-self: center;
}

/* FOOTER: DONE */

footer {
    background: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

small a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #F9FAF8;
}